html {
  background-color: snow;
}
h2,
h3 {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  margin-left: 2rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.filter-function {
}

.button-remove {
  margin-top: 1.75rem;
}
.your-todos {
  margin-top: 3.5rem;
}
.checkedbox {
}
